:root {
  --primary-color: #ccc;
  --on-primary-color: #000;
  --secondary-color: #ffffe0;
  --on-secondary-color: #000;
  --accent-color: #ffa500;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #191919;
    --on-primary-color: #ccc;
    --secondary-color: #131313;
    --on-secondary-color: #ccc;
    --accent-color: #ffa500;
  }
}
