<p>{{ "CONTENT.PRODUCTS" | translate }}</p>

<section class="products">
  <ul class="products__list">
    @for (product of products$ | async; track product.id) {
      <li class="products__item">
        <h2 class="products__title">{{ product.name }}</h2>
        <h3 class="products__title">Slug: {{ product.slug }}</h3>
        <img
          class="products__img"
          alt="{{ product.name }}"
          height="9"
          ngSrc="{{ product.src || placeholderImg }}"
          ngSrcset="200w, 400w"
          sizes="(max-width: 460px) 400px, 200px"
          width="16"
        />
        <a class="products__link" [routerLink]="['/products/' + product.slug | localize]">
          {{ "BTNS.DETAILS" | translate }}
        </a>
      </li>
    }
  </ul>
</section>
