{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "auto",
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-organize-attributes"],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "attributeGroups": [
    "$CLASS",
    "$ID",
    "$NAME",
    "$SRC",
    "$FOR",
    "$HREF",
    "$TYPE",
    "$VALUE",
    "$TITLE",
    "$ALT",
    "$ROLE",
    "$DATA",
    "$ARIA",
    "$ANGULAR_STRUCTURAL_DIRECTIVE",
    "$ANGULAR_TWO_WAY_BINDING",
    "$ANGULAR_ANIMATION",
    "$ANGULAR_ANIMATION_INPUT",
    "$ANGULAR_INPUT",
    "$ANGULAR_OUTPUT",
    "$ANGULAR_ELEMENT_REF"
  ],
  "attributeSort": "ASC",
  "attributeIgnoreCase": false
}
