<section class="home">
  <h1>{{ "CONTENT.HOME.TITLE" | translate }}</h1>
  <p>{{ "CONTENT.HOME.WELCOME" | translate }}</p>
  <p>{{ "CONTENT.HOME.DESCRIPTION" | translate }}</p>
  <p>{{ "CONTENT.HOME.SSR_BENEFIT" | translate }}</p>
  <p>{{ "CONTENT.HOME.BENEFITS_TITLE" | translate }}</p>
  <div class="home__benefits">
    <ul class="benefits__list">
      <li class="benefits__item">{{ "CONTENT.HOME.BENEFIT_SEO" | translate }}</li>
      <li class="benefits__item">{{ "CONTENT.HOME.BENEFIT_MULTI_LANGUAGE" | translate }}</li>
      <li class="benefits__item">{{ "CONTENT.HOME.BENEFIT_MODERN_STRUCTURE" | translate }}</li>
    </ul>
  </div>
</section>
