<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item">
      <a
        class="nav__link"
        [routerLink]="['/' | localize]"
        [routerLinkActiveOptions]="{ exact: true }"
        ariaCurrentWhenActive="page"
        routerLinkActive="active"
      >
        {{ "NAV.HOME" | translate }}
      </a>
    </li>
    <li class="nav__item">
      <a
        class="nav__link"
        [routerLink]="['about' | localize]"
        [routerLinkActiveOptions]="{ exact: true }"
        ariaCurrentWhenActive="page"
        routerLinkActive="active"
      >
        {{ "NAV.ABOUT" | translate }}
      </a>
    </li>
    <li class="nav__item">
      <a
        class="nav__link"
        [routerLink]="['products' | localize]"
        [routerLinkActiveOptions]="{ exact: true }"
        ariaCurrentWhenActive="page"
        routerLinkActive="active"
      >
        {{ "NAV.PRODUCTS" | translate }}
      </a>
    </li>
  </ul>
</nav>
